@use "./utils.scss" as *;
@use "./vars.scss" as *;
@use "sass:color";
@use "sass:map";

button {
  transition-duration: 0.2s;
  padding: map.get($spacing, 0.5) map.get($spacing, 1);
  border-radius: $radius;

  &:active:not(.btn-enabled) {
    background-color: color.scale($accent, $lightness: -10%);
  }

  &.btn-primary {
    background-color: $primary;
    color: $fg;
  }
  &.btn-enabled {
    color: $primary;
  }
  &.btn-secondary {
    background-color: $accent;
    color: $fg;
  }
  &.btn-ghost {
    background-color: transparent;
    color: $fg;
  }
}
