@use "sass:map";
@use "./window.scss";
@use "./button.scss";
@use "./utils.scss";
@use "./vars.scss" as *;

* {
  all: unset;
  font-size: $fontSize;
  min-width: $fontSize;
}

.icon {
  padding-right: map.get($spacing, 2);
}

.bar {
  padding: 8px $fontSize;
}
