@use "sass:map";
@use "./button.scss";
@use "./utils.scss" as *;
@use "./vars.scss" as *;

* {
  all: unset;
  font-size: $fontSize;
  min-width: $fontSize;
}

button,
box,
icon,
label {
  font: inherit;
}

window#bar {
  background-color: gtkalpha($bg, 0.9);
  color: $fg;
  centerbox {
    padding: 0 $pad;
  }
}
