@use "sass:color";
@use "sass:string";

@function gtkalpha($c, $a) {
  @return string.unquote("alpha(#{$c},#{$a})");
}

$spacing-0-5: 0.125rem;
$spacing-1: 0.25rem;
$spacing-1-5: 0.375rem;
$spacing-2: 0.5rem;
$spacing-2-5: 0.625rem;
$spacing-3: 0.75rem;
$spacing-3-5: 0.875rem;
$spacing-4: 1rem;
$spacing-5: 1.25rem;
$spacing-6: 1.5rem;
$spacing-7: 1.75rem;
$spacing-8: 2rem;
$spacing-9: 2.25rem;
$spacing-10: 2.5rem;
$spacing-11: 2.75rem;
$spacing-12: 3rem;
$spacing-14: 3.5rem;
$spacing-16: 4rem;

$fontSize: 24px;

$bg: #1c1e26;
$fg: #fadad1;
$primary: #e95678;
$accent: #6f6f70;

* {
  all: unset;
  font-size: $fontSize;
}

.separator_h {
  margin: 0 $spacing-1;
}
.separator_v {
  margin: $spacing-1 0;
}

window#bar {
  background-color: gtkalpha(color.scale($bg, $lightness: 3%), 0.9);
  color: $fg;
  // background-color: transparent;
  border-bottom-right-radius: $spacing-4;
  border-bottom-left-radius: $spacing-4;
  centerbox {
    padding: $spacing-1 $spacing-4 $spacing-1-5;
  }
}

button {
  transition-duration: 0.3s;
  padding: $spacing-0-5 $spacing-1;
  border-radius: $spacing-1;

  &:active:not(.enabled) {
    background-color: color.scale($accent, $lightness: -20%);
  }
}

.primary {
  background-color: $primary;
  color: $fg;
  &.enabled {
    color: #a4e990;
  }
}
.secondary {
  background-color: $accent;
  &.enabled {
    background-color: transparent;
  }
}

.enabled {
  color: $primary;
}

.error {
  color: #c43131;
}
